/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

.gallery-container {
    display: grid; 
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    width: 100vw;
    max-width: 1200px;
    max-height: 90vh;
    margin: 10px auto;
    padding: 0 10px;
    overflow: hidden; /* Prevent scrolling */
    touch-action: pan-y; /* Allow vertical scrolling, prevent horizontal scrolling */
}

.gallery-item {
    width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item.selected {
    cursor: default;
  }

  .gallery-item.selected img {
    object-fit: contain; /* Ensures the entire image is visible */
    max-height: 85vh;    /* Limits the image height to 90% of viewport height */
    max-width: 95vw;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: auto;
    width: auto;
}

  .image-text {
    color: #333; /* Dark text for readability */
    font-size: 1em;
    text-align: center;
    opacity: 0; /* Start hidden */
    max-width: 90%;
    transition: opacity 1s ease;
    display: none;
    margin-top: 10px;
}

.gallery-item.selected .image-text {
    display: block;
    opacity: 1;
}

.hidden {
    display: none;
  }

/* Close Button */
.gallery-close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    z-index: 10;
    background: transparent;
    color: #ccc;
    border: none;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.gallery-close-btn:hover {
    color: #333; /* Change color on hover */
}

.gallery-item:not(.selected):hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/* Navigation Buttons */
.pagination-controls {
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    position: fixed;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-button {
    background-color: #ccc;
    border: none;
    font-size: 0.7em;
    padding: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15px;
    width: 15px;
    margin: 0px -15px;
}

.nav-button:hover {
    background-color: #333;
    color: #fff;
}

.nav-button:focus {
    outline: none;
    background-color: #ccc;
    color: #333;
}

.nav-button:disabled {
    opacity: 0;
    cursor: default;
}

/* Pagination Dots Container */
#pagination-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 20px;
}

/* Individual Dots */
.pagination-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.pagination-dot:hover {
    background-color: #bebdbd;
}

.pagination-dot.active {
    background-color: #333;
    height: 15px;
    width: 15px;
}

/* Media Queries for Responsiveness */

/* Tablet devices */
@media (min-width: 600px) {
    .gallery-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns */
        grid-template-rows: repeat(3, 1fr);
    }
}

/* Desktop devices */
@media (min-width: 992px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr); /* 4 columns */
        grid-template-rows: repeat(2, 1fr);
    }
}



/* Animation Classes */
.fade-in-right {
    animation: fadeInFromRight 0.7s forwards;
  }
  
  .fade-in-left {
    animation: fadeInFromLeft 0.7s forwards;
  }

  .fade-in {
    animation: fadeInUp 0.7s forwards;
}

.fade-out {
    animation: fadeOutDown 0.7s forwards;
}



  /* Fade-in from right */
@keyframes fadeInFromRight {
    0% {
      opacity: 0;
      transform: translateX(50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  /* Fade-in from left */
  @keyframes fadeInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeInUp {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}